* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #333;
    font-size: 15px;
    line-height: 1.6em;
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Table */
.member {
    width: 900px;
    background-color: #fff;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    overflow: hidden;
}
.member caption {
    font-size: 20px;
    margin-bottom: 30px;
}
.member tr {
    border-bottom: 1px solid #eee;
}
.member tr:last-child {
    border: none;
}
.member tr:nth-child(odd) {
    background-color: #ddd;
}
.member th,
.member td {
    padding: 12px;
    text-align: center; 
}
.member tr th {
    background-color: royalblue;
    color: #fff;
}
.member tr th:first-child {
    border-radius: 5px 0 0 0;
}
.member tr th:last-child {
    border-radius: 0 5px 0 0;
}
.member tr td:last-child {
    color: crimson;
    font-weight: 500;
}